# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Local backend config (ignore)
backend-*.hcl

# Provider lockfile (track this)
!.terraform.lock.hcl

# Our local state layout
state/
backup-state/

# Local screenshots / random files
*.png

# Lambda build artifacts (zip files)
modules/lambda/*.zip

# Terraform plans
*.tfplan

# Lambda build artifacts
lambda.zip

# OS files
.DS_Store
